/* default.css */


/* color */
.text-primary,
.btn-outline-primary,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after,
.navbar .navbar-nav .nav-item .nav-link.active.dropdown-toggle::after,
.navbar .navbar-nav .nav-item .nav-link:focus.dropdown-toggle::after,
.navbar .navbar-nav .nav-item .nav-link:active.dropdown-toggle::after,
.nav-sticky .navbar-nav .nav-item .nav-link:hover,
.nav-sticky .navbar-nav .nav-item .nav-link:active,
.nav-sticky .navbar-nav .nav-item .nav-link:focus,
.nav-sticky .navbar-nav .nav-item .nav-link.active,
.nav-sticky .navbar-nav .nav-item .nav-link.active .dropdown-toggle:after,
.primary-link:hover,
.feature-icon,
.social-list .social-icon:hover,
.testimonial-box .testi-img .quote-icon,
.nav-link.active,
.nav-item .nav-link:hover,
.features-icon,
.about-heading::before,
.home-6 .home-title,
.faq .icon {
    color: #ff805d !important;
}



/* background-color */
.bg-primary,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.works-description-left::after,
.works-description-right::after,
.form-check-input:checked,
.works-description-left::after,
.works-description-right::after,
.ribbon,
.sidebar .sd-title::after,
.pagination .page-item .page-link:hover, 
.pagination .page-item .page-link.active, 
.pagination .page-item .page-link:focus,
.swiper-button-next, .swiper-button-prev,
#back-to-top:hover,
#back-to-top,
.sidebar .tagcloud a:hover,
.footer-alt,
.home-6 .heading::before,
.about-heading::after,
.avatar-title {
    background-color: #ff805d !important;
}

/* btn box-shadow */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open>.dropdown-toggle.btn-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open>.dropdown-toggle.btn-primary {
    box-shadow: 0px 8px 20px -6px rgba(255, 128, 93, 0.6);
}


/* border-color */
.form-control:focus,
.form-check-input:checked,
.border-primary,
.btn-primary,
.btn-outline-primary,
.nav-link.active,
.nav-item .nav-link:hover,
.pricing .pricing-box, .pricing .active,
.team .team-member .team-hover,
.social-list .social-icon:hover {
    border-color: #ff805d !important;
}

/* slider */
.swiper-pagination-bullet,
.home-10::before,
.features-box {
    background-color: rgba(255, 226, 218, 0.9) !important;
}

/* home-bg extra light */
.bg-footer,
.home-10::after {
    background-color: rgba(255, 244, 241, 0.9) !important;
}

/* rgba background */
.timeline-page::after,
.price-box .price-features i,
.faq .icon {
    background-color: rgba(255, 128, 93, 0.15);
}


/* process box-shadow */
.works-description-left:hover::after,
.works-description-right:hover::after {
    box-shadow: 0px 0px 5px 2px #ff805d !important;
}

/* feature box */
.feature-icon,
.bg-home4 {
    background-color: rgba(255, 128, 93, 0.2);
}

